#description {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    line-height: 1.5em;
    margin: 20px 0;

    #details {
        width: 90%;
        margin: 0px auto;

        h2 {
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    #abilities {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;

        .ability {
            width: 45%;
            margin: 0 auto;
            text-align: center;
            line-height: 1.25em;
        
            i {font-size: 2em; padding: 10px 0;}

            h3 {font-size: 0.8em; text-transform: uppercase;}

            p {font-size: 0.8em;}
        }
    }

    hr {
        width: 100%;
        margin-top: 20px;
        background-color: $light;
        border: 1px solid $light;
    }
}