#product {
    width: 100%;

    #product-image {
        width: 100%;
        background-color: $light;
    
        img {
            width: 100%;
        }
    }

    #product-info {
        width: 90%;
        margin: 20px auto;
        line-height: 1.5em;

        h3 {color: $grey;}

        ul li {
            display: inline;

            i {color: $yellow;}
        }
    }

    hr {
        background-color: $light;
        border: 1px solid $light;
    }
}