#reviews {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;

    #rating-bars {
        width: 50%;

        img {width: 100%;}
    }

    #rating {
        width: 50%;
        text-align: center;

        h3 {font-size: 3.5em;}

        ul li {
            display: inline;

            i {color: $yellow;}
        }

        h4{font-size: 0.8em; line-height: 2em;}
    }
}

.user {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;

    .fa-user-circle {font-size: 2.25em; width: 15%;}

    h3 {width: 85%;}

    ul li {
        display: inline;
        
        i {color: $yellow; margin: 10px 0;}
    }

    p {line-height: 1.5em;}
}

hr {
    background-color: $light;
    border: 1px solid $light;
}

#button {
    color: $main;
    margin-bottom: 20px;
}